.post {
  width: 100%;
  max-width: 800px;
  text-align: left;
  padding: 20px;
  margin: 0 auto 20px;

  &:not(:last-of-type) {
    border-bottom: 1px solid var(--light-border-color);

    :global .dark-theme :local & {
      border-color: var(--dark-border-color);
    }
  }

  @media (--tablet) {
    max-width: 660px;
  }

  h1 {
    margin: 0 0 10px;
  }

  img {
    border-radius: 8px;
  }
}

.title {
  a {
    text-decoration: none;
  }
}

.coverImage {
  border-radius: 8px;
  margin-bottom: 40px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
}

.meta {
  font-size: 1rem;
  margin-bottom: 30px;
}

.tags {
  margin-top: 10px;
  opacity: 0.5;
}

.tag {
  display: inline-block;
  margin-right: 10px;
}

.series {
  margin-top: 2rem;
  margin-bottom: 2rem;
  padding: 2rem 1.5rem;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 4px 0px;
  position: relative;
  background: var(--light-background-secondary);

  :global .dark-theme :local & {
    background: var(--dark-background-secondary);
  }
}

.series-item {
  display: block;
}

.series-item-bold {
  display: block;
  color: #fe5186;
}

.series a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

.series span {
  text-decoration: none;
}

.readMore {
  display: inline-block;
  text-decoration: none;
  font-weight: bold;
  margin: 20px 0;
  font-size: 1rem;
}

.postContent {
  position: relative;
  h2,
  h3 {
    padding-top: 2rem;
  }
}
